body {
	background: #fafafa;
	font-family: "Comic Sans MS", "Comic Sans", "Marker Felt", sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/*
 * Links
 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }


/*
 * Images
 */
img {
	max-width: 100%;
	height: auto;
}


/*
 * Content wrapper
 */
.wrapper {
  padding-top: $navHeight;
}

/*
 * Default section settings here
 */
.section {
  width: 100%;
  &:after {
	display: block;
	content: '';
	height: 1.4vw;
	max-height: 25px;
	min-width: 10px;
  }
}
.section__content {
  max-width: $maxWidth;
  padding: $sectionPadding 3%;

  @media #{$xsmall} {
	padding: $sectionPadding 5%;
  }
  @media #{$small-up} {
	padding: $sectionPadding 5%;
  }
}

.section__title {
  font-size: 2em;
  margin: 0;
  padding-bottom: 4%;

  @media #{$small-up} {
	font-size: 3em;
  }
}
.section__title--purple { color: $colorPurple; }
.section__title--white { color: $colorWhite; }
.section__title--pink { color: $colorPink; }