/*
 * Footer - Section
 */
.footer {
  background-color: $colorRed;

  .section__content {
    text-align: center;
    margin: 0 auto;
  }

  &:after { display: none; }
}


.sponsors {
  list-style: none;
  padding: 0;
  max-width: 900px;
  margin: 0 auto;
  overflow: auto;

  li {
    float: left;
    width: 47.5%;
    padding-right: 5%;

    @media #{$small} {
      &:nth-child(2n) { padding-right: 0; }
    }

    @media #{$medium-up} {
      width: 30.3333333%;
      padding-right: 2%;
      &:nth-child(3n) { padding-right: 0; }
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}