/*
 * Photos - Section
 */
.photos {
  background-color: $colorYellow;

  .section__content {
    text-align: center;
    margin: 0 auto;
  }

  &:after { background-color: $colorRed; }
}



.photo-grid {
  list-style: none;
  margin: 0;
  padding: 0;

  .photo {
    width: 47.5%;       // (100/imagesPerRow)-spacing
    padding-right: 5%;  // {spacing}*{imagesPerRow}/{imagesPerRow-1}
    padding-bottom: 5%;
    float: left;

    @media #{$small} {
      &:nth-child(2n) { padding-right: 0; }
    }

    @media #{$medium} {
      width: 31.333333%;
      padding-right: 2%;
      padding-bottom: 2.5%;
      &:nth-child(3n) { padding-right: 0; }
    }

    @media #{$medium-up} {
      width: 23%;
      padding-right: 2%;
      padding-bottom: 2.5%;
      &:nth-child(4n) { padding-right: 0; }
    }

    .border {
      display: block;
      background-color: white;
      padding: 7%;
      transition: background-color 0.5s ease;

      img {
        width: 100%;
        height: auto;
      }

      &:hover {
        background-color: $colorPurple;
      }
    }
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.hide { display: none!important; }
.show { display: block!important; }


.load-more {
  background-color: transparent;
  border: none;
  font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
  font-size: 1.2em;
  color: $colorPurple;
  font-weight: bold;
  cursor: pointer;
  padding-top: 2%;
  transition: all 0.5s ease;

  &:hover {
    //color: $colorNeoGreen;
    animation: flash 2s infinite ease-in;
  }

  &:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('/images/arrow-blue.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
  }
}

/*
 * Loader
 */
.loader {
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid $colorPurple;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: $colorPurple;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

/*
 * Flash Animation
 */
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}