/*
 * Program - Section
 */
.program {
  background-color: $colorPink;

  .section__content {
    text-align: center;
    margin: 0 auto;
  }

  &:after { background-color: $colorNeoGreen; }
}


/*
 * TITLE OBJECT
 */
.program__title h2 {
  color: $colorPurple;
  font-size: 2em;
  padding-bottom: 4%;

  @media #{$small-up} {
    font-size: 2.5em;
  }
}

/*
 * EVENT OBJECT
 */
.program__event {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding-bottom: 15%;
  overflow: auto;
  box-sizing: border-box;

  @media #{$small-up} {
    padding-bottom: 6%;
  }

  @media #{$medium-up} {
    padding-left: 0;
    padding-right: 0;
  }

  .event__cover {}

  .event__header {
    font-weight: bold;
    float: left;
    width: 100%;
    text-align: left;

    @media #{$medium-up} {
      text-align: left;
      width: 50%;
      padding: 0;
    }

    h1 {
      font-size: 2em;
      margin: 0 0 -5px;
      padding-top: 4%;
      padding-bottom: 0;


      @media #{$small-up} {
        font-size: 3em;
      }
    }
    time {
      font-size: 1.5em;
    }
  }

  .event__timetable {
    float: right;
    width: 100%;
    list-style: none;
    font-size: 1.2em;
    margin: 31px 0 0 0; // 31 px to match title x-height

    @media #{$medium-up} {
      width: 50%;
      padding: 0;
    }


    .item {
      text-align: left;
      vert-align: top;
      width: 100%;
      time, span {
        font-weight: bold;
        margin-right: 5px;
      }

      & td { vertical-align: top; }
      & td:last-child { width: 100%; }
    }
  }

}

.program__event--small {
  padding-bottom: 15%;

  @media #{$small-up} {
    padding-bottom: 2%;
  }

  .event__timetable { margin: 22px 0 0 0; }
  &:last-child { padding-bottom: 6%; }
}

.program__event--purple { color: $colorPurple; }
.program__event--red    { color: $colorRed; }



/*
 * EVENT BREAK
 */
.program__break {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
  padding: 0 0 15% 0;
  color: $colorNeoGreen;
  overflow: auto;

  @media #{$small-up} {
    padding: 0 0 6% 0;
  }

  .break__content {
    width: 100%;
    float: right;
    text-align: center;
    border-bottom: 1px solid $colorNeoGreen;
    border-top: 1px solid $colorNeoGreen;
    padding: 5% 0;

    @media #{$medium-up} {
      width: 50%;
      text-align: left;
      padding: 0;
      border: none;
    }

    h2 {
      font-weight: bold;
      margin: 0;
    }

    time {
      font-size: 1.5em;
    }
  }
}