/*
 * Program - Section
 */
.program {
  background-color: $colorPink;

  .section__content {
    text-align: center;
    margin: 0 auto;
    padding: 4% 0;
  }

  &:after { background-color: $colorNeoGreen; }
}


/*
 * TITLE OBJECT
 */
.program__title h2 {
  color: $colorPurple;
  font-size: 1.5em;
  padding-bottom: 4%;
}

/*
 * EVENT OBJECT
 */
.program__event {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding-bottom: 6%;
  overflow: auto;

  .event__cover {}

  .event__header {
    font-weight: bold;
    float: left;
    width: 50%;
    text-align: left;
    h1 {
      font-size: 3em;
      margin: 0 0 -5px;
      padding-top: 4%;
      padding-bottom: 0;
    }
    time {
      font-size: 1.5em;
    }
  }

  .event__timetable {
    float: right;
    width: 50%;
    list-style: none;
    font-size: 1.2em;
    padding: 0;
    margin: 31px 0 0 0; // 31 px to match title x-height

    .item {
      text-align: left;
      vert-align: top;
      width: 100%;
      time, span {
        font-weight: bold;
        margin-right: 5px;
      }

      & td { vertical-align: top; }
      & td:last-child { width: 100%; }
    }
  }

}

.program__event--small {
  padding-bottom: 2%;
  .event__timetable { margin: 22px 0 0 0; }
  &:last-child { padding-bottom: 6%; }
}

.program__event--purple { color: $colorPurple; }
.program__event--red    { color: $colorRed; }



/*
 * EVENT BREAK
 */
.program__break {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
  font-size: 1.6em;
  padding: 0 0 6% 0;
  color: $colorNeoGreen;
  overflow: auto;

  .break__content {
    width: 50%;
    float: right;
    text-align: left;

    h2 {
      font-size: 1em;
      font-weight: bold;
      margin: 0;
    }
  }
}